/* Profile page style */
#profileContainer
{
    padding-top: 12rem;
    padding-bottom: 7rem;
    padding-left: 7rem;
}
.inputBox small {
    color: red;
    display: inline;
    margin: 5px 5px 0 5px;
    padding-bottom: 5px;
    visibility: hidden;
    font-size: small;
  }
  .error small {
    visibility: visible;
  }
  .errorBox {
    margin: 8px;
    padding: 5px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    background-color: rgb(255, 0, 0, 0.5);
    color: #ffff;
    font-size: smaller;
    border-radius: 4px;
  }
  .successBox{
    margin: 8px;
    padding: 5px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    background-color: rgba(2, 110, 29, 0.508);
    color: #ffff;
    font-size: smaller;
    border-radius: 4px;
  }